/* CSS for Inosolution */
.sform{
	width:40%;
	margin-left:30%;
	border: 2px solid #4caf50;
	padding: 5px;
}
.ctext{
	width:100%;
	margin: 12px 0;
	overflow:hidden;
	font-size:18; 
	padding: 8px 0;
	margin:8px 0;
	border-bottom: 1px solid #4caf50;
}
.ctext input{
	border:none;
	outline:none;
	background:none;
	color:black;
	font-size:18;
	width:100%;
}
.btn{
	width:100%;
	background:none;
	border: 1px solid #4caf50;
	padding: 5px;
	font-size: 18;
	cursor:pointer;
	margin: 12px 0;
}
.btn:hover{
	background-color:#4caf50;
	color:white;
}